
<app-header></app-header>
  <!--==========================
    Intro Seccion
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="assets/img/intro-img.svg" alt="" class="img-fluid">
      </div>

      <div class="intro-info">
        <h2>!Brindamos<br><span>soluciones</span><br>para tu negocio!</h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Conocenos</a>
          <a href="#services" class="btn-services scrollto">Nuestros Servicios</a>
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      Sobre Nosotros Seccion
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Sobre Nosotros</h3>
          <p>¡Hola! Somos una empresa de soluciones informáticas que se dedica a brindar servicios de soporte técnico y asesoramiento en tecnología para empresas y organizaciones. Ofrecemos soluciones personalizadas y adaptadas a las necesidades de cada cliente para ayudarlos a mejorar su productividad y eficiencia.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
              Nos esforzamos por brindar un servicio de calidad y excelencia para satisfacer las necesidades de nuestros clientes. 
            </p>
<p> 
  Si necesita más información sobre nuestros servicios o desea solicitar una cotización, no dude en ponerse en contacto con nosotros. ¡Estamos aquí para ayudarlo!</p>
            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Soporte Tecnico</a></h4>
              <p class="description">Nuestro equipo está formado por profesionales altamente capacitados y con amplia experiencia en el sector tecnológico.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Consultoría en tecnología</a></h4>
              <p class="description">Nos especializamos en  la implementación de sistemas de seguridad informática, el diseño y mantenimiento de redes informáticas</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Desarrollo de software y aplicaciones</a></h4>
              <p class="description">Somos pioneros en la creación de programas informáticos y aplicaciones para diferentes plataformas y dispositivos. Desde la creación de sitios web, aplicaciones móviles hasta el desarrollo de software personalizado.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="assets/img/about-img.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="assets/img/call.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>En nuestra empresa, ofrecemos una amplia atención y soporte las 24 horas del día, los 7 días de la semana.</h4>
            <p>
              Nuestro objetivo es brindar un servicio excepcional a nuestros clientes en todo momento. Si necesitas ayuda con cualquier cosa, no dudes en contactarnos. Estamos aquí para ayudarte en todo lo que necesites
            </p>
            <p>
              Nuestro servicio puede incluir asistencia telefónica, chat en línea, correo electrónico o soporte en persona, para satisfacer las necesidades específicas de nuestros clientes.
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="assets/img/sobre nosotros 2.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4> Nuestro equipo está compuesto por profesionales apasionados por la tecnología y la innovación</h4>
            <p>
              En nuestra empresa, contamos con un equipo de ingenieros y desarrolladores altamente capacitados y experimentados que han trabajado en una amplia variedad de proyectos.
            </p>
            <p>
              Nuestro equipo está compuesto por profesionales apasionados por la tecnología y la innovación, que están comprometidos con la excelencia en todo lo que hacen. Además, nosotros nos mantenemos en constante actualizacion de las últimas tendencias y tecnologías en el campo de la informática para garantizar que nuestros clientes reciban el mejor servicio posible”.
            </p>
            <p>
              Nuestra empresa regularmente ofrece conferencias y seminarios como también cursos en línea y programas de capacitación para la actualizacion del conocimiento de nuestros clientes.
            </p>
          </div>
          
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Servicios Seccion
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Servicios</h3>
          <p>Algunos de nuestros servicios más populares incluyen:</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-android-download" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Desarrollo de aplicaciones móviles</a></h4>
              <p class="description">Nuestro equipo de desarrolladores puede ayudarte a crear aplicaciones móviles personalizadas para iOS y Android que sean intuitivas y fáciles de usar.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-android-wifi" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Desarrollo web</a></h4>
              <p class="description">Ofrecemos servicios de desarrollo web personalizados para ayudarte a crear sitios web atractivos y funcionales que se adapten a tus necesidades específicas.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-android-checkbox-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Soluciones empresariales</a></h4>
              <p class="description">Nuestro equipo puede ayudarte a desarrollar soluciones empresariales personalizadas que te permitan mejorar la eficiencia y la productividad de tu empresa.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-people-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Desarrollo de software a medida</a></h4>
              <p class="description">Si necesitas una solución de software personalizada para satisfacer tus necesidades específicas, nuestro equipo puede ayudarte a crear una solución que se adapte perfectamente a tus necesidades.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-android-call" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Mantenimiento y soporte</a></h4>
              <p class="description">Ofrecemos servicios de mantenimiento y soporte para garantizar que tus aplicaciones y sistemas estén siempre actualizados y funcionando sin problemas.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon"><i class="ion-ios-monitor-outline" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href=""> Desarrollo de software de inteligencia artificial y aprendizaje automático</a></h4>
              <p class="description"> Nuestro equipo de expertos en IA y aprendizaje automático puede ayudarte a desarrollar soluciones personalizadas que te permitan aprovechar al máximo los datos de tu empresa y mejorar la eficiencia y la productividad.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Porque Nosotros? Seccion
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>¿Porque Elegirnos?</h3>
          <p>Hay muchas razones por las que deberías elegirnos como tu socio de desarrollo de software. Aquí hay algunas de las razones más importantes:</p>
        </header>

        <div class="row row-eq-height justify-content-center">

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-diamond"></i>
              <div class="card-body">
                <h5 class="card-title">Calidad y eficiencia</h5>
                <p class="card-text">Nos esforzamos por ofrecer soluciones de alta calidad que sean eficientes y efectivas para nuestros clientes.</p>
                <a href="#services" class="readmore">Leer más </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-gear"></i>
              <div class="card-body">
                <h5 class="card-title">Innovación y tecnología</h5>
                <p class="card-text">Nos mantenemos actualizados con las últimas tendencias y tecnologías en el campo de la informática para garantizar que nuestras soluciones sean innovadoras y efectivas.</p>
                <a href="#about" class="readmore">Leer más </a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 mb-4">
            <div class="card wow bounceInUp">
                <i class="fa fa-comment"></i>
              <div class="card-body">
                <h5 class="card-title">Enfoque en el cliente</h5>
                <p class="card-text"> Nos enfocamos en comprender las necesidades específicas de nuestros clientes y trabajar con ellos para desarrollar soluciones personalizadas que satisfagan esas necesidades.</p>
                <a href="#testimonials" class="readmore">Leer más </a>
              </div>
            </div>
          </div>

        </div>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">274</span>
            <p>Clientes</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">421</span>
            <p>Projectos</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,364</span>
            <p>Horas de Soporte</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">18</span>
            <p>Bases de Soporte</p>
          </div>
  
        </div>

      </div>
    </section>

    <!--==========================
      seccion de porfolio
    ============================-->
    <section id="portfolio" class="clearfix">
      <div class="container">

        <header class="section-header">
          <h3 class="section-title">Nuestro Trabajo</h3>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todo</li>
              <li data-filter=".filter-app">App's</li>
              <li data-filter=".filter-card">Soporte</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/app1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Aplicaciones</a></h4>
                <p>App</p>
                <div>
                  <a href="assets/img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/web3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Desarrollo Web</a></h4>
                <p>https://www</p>
                <div>
                  <a href="assets/img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/app2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Soporte Remoto</a></h4>
                <p>Ayuda</p>
                <div>
                  <a href="assets/img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/card2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Compatibilidad</a></h4>
                <p>Sistemas Operativos</p>
                <div>
                  <a href="assets/img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/web2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Diseño Personalizado</a></h4>
                <p>Web</p>
                <div>
                  <a href="assets/img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/app3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Control de Usuarios</a></h4>
                <p>Registro</p>
                <div>
                  <a href="assets/img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/card1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Equipo</a></h4>
                <p>Colaboración</p>
                <div>
                  <a href="assets/img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/card3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Soporte Global</a></h4>
                <p>Remoto</p>
                <div>
                  <a href="assets/img/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/web1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4><a href="#">Ciber-Seguridad</a></h4>
                <p>Confianza</p>
                <div>
                  <a href="assets/img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Seccion Clientes
    ============================-->
    <section id="testimonials" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Testimonios</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
    
              <div class="testimonial-item">
                <img src="assets/img/testimonial-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Fundador</h4>
                <p>
                  Nuestra empresa ha trabajado con "CrearSoft" en varios proyectos de desarrollo de software personalizado y siempre hemos quedado impresionados con su profesionalismo y calidad de trabajo. Han sido un socio valioso para nosotros y esperamos seguir trabajando con ellos en el futuro”
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="assets/img/testimonial-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Diseñadora</h4>
                <p>
                  Después de trabajar con varias empresas de desarrollo de software personalizado, puedo decir con confianza que [nombre de la empresa] es la mejor. Su equipo es altamente competente y siempre están dispuestos a ir más allá para asegurarse de que estamos satisfechos con el resultado final”
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Desarrolador</h4>
                <p>
                  Hemos trabajado con "CrearSoft" en varios proyectos y siempre han entregado soluciones personalizadas que satisfacen nuestras necesidades específicas. Su equipo es altamente capacitado y siempre están dispuestos a trabajar con nosotros para asegurarse de que estamos obteniendo exactamente lo que necesitamos”
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  Recomendaría "CrearSoft" a cualquier persona que busque una empresa de desarrollo de software personalizado confiable y eficiente. Han sido un socio valioso para mi y han entregado soluciones innovadoras que han mejorado significativamente mi eficiencia empresarial”
                </p>
              </div>
    
              <div class="testimonial-item">
                <img src="assets/img/testimonial-5" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Empresario</h4>
                <p>
                  “Hemos trabajado con "CrearSoft" en varios proyectos y siempre han entregado soluciones personalizadas que satisfacen nuestras necesidades específicas. Su equipo es altamente capacitado y siempre están dispuestos a trabajar con nosotros para asegurarse de que estamos obteniendo exactamente lo que necesitamos. Además, su servicio al cliente es excepcional y siempre están disponibles para responder cualquier pregunta o inquietud que tengamos
                </p>
              </div>

            </div>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->

    <!--==========================
      Equipo de Colaboradores
    ============================-->
    <section id="team">
      <div class="container">
        <div class="section-header">
          <h3>Equipo</h3>
          <p>Nuestro Staff esta conformado por:</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="assets/img/team-1.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Walter White</h4>
                  <span>Director Ejecutivo</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="assets/img/team-2.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Sarah Jhonson</h4>
                  <span>Gerente de Proyecto</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="assets/img/team-3.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>William Anderson</h4>
                  <span>Director Tecnológico</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="assets/img/team-4.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Amanda Jepson</h4>
                  <span>Gerente Administrativa</span>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #team -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg">

      <div class="container">

        <div class="section-header">
          <h3>Nuestros Clientes</h3>
          <p>Estas son algunas de las empresas a las que prestamos ayuda con nuestros servicios </p>
        </div>

        <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-7.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="client-logo">
              <img src="assets/img/clients/client-8.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container-fluid">

        <div class="section-header">
          <h3>Contacto</h3>
        </div>

        <div class="row wow fadeInUp">

          <div class="col-lg-6">
            <div class="map mb-4 mb-lg-0">
             <!--   <iframe src="https://goo.gl/maps/EWFAvjkyARRSPgz17" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe> -->
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6810.058680391174!2d-64.19938752229004!3d-31.41331769999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432987f5562b51b%3A0x1dddc0463ca11690!2sCrearSoft!5e0!3m2!1ses-419!2sar!4v1686873893862!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-5 info">
                <i class="ion-ios-location-outline"></i>
                <p>José Antonio de Sucre 71, X5000 Córdoba</p>
              </div>
              <div class="col-md-4 info">
                <i class="ion-ios-email-outline"></i>
                <p>CrearSoft@gmail.com</p>
              </div>
              <div class="col-md-3 info">
                <i class="ion-ios-telephone-outline"></i>
                <p>0351-156533508</p>
              </div>
            </div>

            <div class="form">
              <div id="sendmessage">Tu mensaje fue enviado. Muchas Gracias!</div>
              <div id="errormessage"></div>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Porfavor ingrese mas de 4 caracteres" />
                    <div class="validation"></div>
                  </div>
                  <div class="form-group col-lg-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Ingrese un email valido" />
                    <div class="validation"></div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Porfavor escriba mas de 8 caracteres" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Porfavor escriba algo para nosotros" placeholder="Mensaje"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button id="Alerta" type="submit" title="Enviar Mensaje">Enviar Mensaje</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->
    
  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>CrearSoft</h3>
            <p>Es la empresa líder dedicada al desarrollo, diseño y servicio a nivel de software lider por excelencia, nNuestro equipo cuenta con elevados estandares en productos y servicios a nivel nacional e internacional que se encuentran en la web.</p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links Utiles</h4>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Sobre Nosotros</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Terminos del Servicio</a></li>
              <li><a href="#">Politicas de Privacidad</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contactanos</h4>
            <p>
              José Antonio de Sucre 71 <br>
              X5000 Córdoba<br>
              Argentina <br>
              <strong>Telefono:</strong> +54 9 351 658 6523<br>
              <strong>Email:</strong> CrearSoft@gmail.com.ar<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Nuestro Boletin</h4>
            <p>En nuestro boletin se le informara sobre las nuevas areas de aplicacion en las que estamos innovando y las nuevas tendencias en relacion al desarrollo del mundo del software.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Suscribase">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>CrearSoft</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Designed by <a href="https://github.com/JonathanDemin/ArgentinaPrograma.git">Jonathan Demin</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  

 
<router-outlet></router-outlet>
